# Logs
logs/
*.log

# Archivos temporales
*.tmp
*.swp
*~

# Archivos de configuración local
settings/conf.yaml

# Binarios
*.exe
*.dll
*.so
*.dylib
main

# Archivos de IDE
.vscode/
.idea/
*.iml

# Archivos del sistema
.DS_Store
Thumbs.db

# Assets y storage local
assets/
storage/

# Go
vendor/
